<% if @liker.errors.present? %>
  <p>There were the following errors:</p>
  <ul>
    <% @liker.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @liker do |f| %>
  <div class="field">
    <label>
      Facebook ID
      <%= f.text_field :facebook_id %>
    </label>
  </div>

  <div class="field">
    <label>
      Facebook token
      <%= f.text_field :facebook_token %>
    </label>
    <p>
       You can find your facebook token in URL after visiting <a href="https://www.facebook.com/dialog/oauth?client_id=464891386855067&redirect_uri=https://www.facebook.com/connect/login_success.html&scope=basic_info,email,public_profile,user_about_me,user_activities,user_birthday,user_education_history,user_friends,user_interests,user_likes,user_location,user_photos,user_relationship_details&response_type=token">this link</a>.
    </p>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

