<div class="liker">
  <%= render @liker %>
</div>

<hr>

<div style="float: left; width: 50%;">
  <h2>Matches</h2>

  <div class="matches-actions">
    <%= render partial: "matches/actions", locals: { match_finder: @liker.match_finder } %>
  </div>

  <div class="matches">
    <% @liker.matches.order(created_at: :desc).each do |match| %>
      <%= render partial: "tinder_users/tinder_user", locals: { tinder_user: match.tinder_user, liker: @liker, on_match_view: true } %>
    <% end %>
  </div>
</div>

<div style="float: left; width: 50%">
  <h2>People liked</h2>

  <div class="liker-actions">
    <%= render partial: "likers/actions", locals: { liker: @liker } %>
  </div>

  <div class="likes">
    <% @liker.likes.map(&:tinder_user).sort_by(&:created_at).reverse.first(25).each do |tinder_user| %>
      <%= render partial: "tinder_users/tinder_user", locals: { tinder_user: tinder_user, liker: @liker, on_match_view: false } %>
    <% end %>
  </div>
</div>
